[importlinter]
root_package = app

[importlinter:contract:logic-no-adapters]
name = Logic must not depend on adapters (API/Infra)
type = layers
layers =
    app.adapters
    app.core

[importlinter:contract:logic-isolated]
name = Logic must be isolated from agents or api-specific logic
type = forbidden
source_modules =
    app.core
forbidden_modules =
    app.adapters
    app.auth
