openapi: 3.0.3
info:
  title: WaniKani + Custom Decks Extension
  description: "WaniKani: The API, extended with Custom Deck (Forking/Min Logic) capabilities."
  version: "20170710.0-custom-decks-v1"
servers:
  - url: https://api.wanikani.com/v2
security:
  - bearerAuth: []
paths:
  /assignments:
    get:
      operationId: getAssignments
      summary: Get All Assignments
      description: Returns a collection of all assignments, ordered by ascending created_at, 500 at a time.
      tags: [Assignment]
      parameters:
        - in: query
          name: available_after
          description: Only assignments available at or after this time are returned.
          schema:
            type: string
            format: date-time
        - in: query
          name: available_before
          description: Only assignments available at or before this time are returned.
          schema:
            type: string
            format: date-time
        - in: query
          name: burned
          description: When set to true, returns assignments that have a value in data.burned_at. Returns assignments with a null data.burned_at if false.
          schema:
            type: boolean
        - in: query
          name: hidden
          description: Return assignments with a matching value in the hidden attribute
          schema:
            type: boolean
        - in: query
          name: ids
          description: Only assignments where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: immediately_available_for_lessons
          description: Returns assignments which are immediately available for lessons
          schema:
            type: boolean
        - in: query
          name: immediately_available_for_review
          description: Returns assignments which are immediately available for review
          schema:
            type: boolean
        - in: query
          name: in_review
          description: Returns assignments which are in the review state
          schema:
            type: boolean
        - in: query
          name: levels
          description: Only assignments where the associated subject level matches one of the array values are returned. Valid values range from 1 to 60.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: srs_stages
          description: Only assignments where data.srs_stage matches one of the array values are returned. Valid values range from 0 to 9
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: started
          description: When set to true, returns assignments that have a value in data.started_at. Returns assignments with a null data.started_at if false.
          schema:
            type: boolean
        - in: query
          name: subject_ids
          description: Only assignments where data.subject_id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: subject_types
          description: 'Only assignments where data.subject_type matches one of the array values are returned. Valid values are: radical, kanji, or vocabulary.'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SubjectType'
        - in: query
          name: unlocked
          description: When set to true, returns assignments that have a value in data.unlocked_at. Returns assignments with a null data.unlocked_at if false.
          schema:
            type: boolean
        - in: query
          name: updated_after
          description: Only assignments updated after this time are returned.
          schema:
            type: string
            format: date-time

      responses:
        '200':
          description: All Assignments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /assignments/{id}:
    get:
      operationId: getAssignment
      summary: Get a Specific Assignment
      description: Retrieves a specific assignment by its id.
      tags: [Assignment]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /assignments/{id}/start:
    put:
      operationId: startAssignment
      summary: Start an Assignment
      description: Mark the assignment as started, moving the assignment from the lessons queue to the review queue. Returns the updated assignment.
      tags: [Assignment]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAssignmentRequest'
            example: {
              "started_at": "2017-09-05T23:41:28.980679Z"
            }
      responses:
        '200':
          description: The started Assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /level_progressions:
    get:
      operationId: getLevelProgressions
      summary: Get All Level Progressions
      description: Returns a collection of all level progressions, ordered by ascending created_at, 500 at a time.
      tags: [Level Progression]
      parameters:
        - in: query
          name: ids
          description: Only level progressions where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: updated_after
          description: Only level_progressions updated after this time are returned.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: All Level Progressions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelProgressions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /level_progressions/{id}:
    get:
      operationId: getLevelProgression
      summary: Get a Specific Level Progression
      description: Retrieves a specific level progression by its id.
      tags: [Level Progression]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Level Progression
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelProgression'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /resets:
    get:
      operationId: getResets
      summary: Get All Resets
      description: Returns a collection of all resets, ordered by ascending created_at, 500 at a time.
      tags: [Reset]
      parameters:
        - in: query
          name: ids
          description: Only resets where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          description: Only resets updated after this time are returned.
          name: updated_after
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: All Resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resets'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /resets/{id}:
    get:
      operationId: getReset
      summary: Get a Specific Reset
      description: Retrieves a specific reset by its id.
      tags: [Reset]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /reviews:
    get:
      operationId: getReviews
      summary: Get All Reviews
      description: Returns a collection of all reviews, ordered by ascending created_at, 500 at a time.
      tags: [Review]
      parameters:
        - in: query
          name: ids
          description: Only reviews where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          description: Only reviews updated after this time are returned.
          name: updated_after
          schema:
            type: string
            format: date-time
        - in: query
          name: assignment_ids
          description: Only reviews where data.assignment_id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: subject_ids
          description: Only reviews where data.subject_id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: All Reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reviews'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      operationId: createReview
      summary: Create a review
      description:
        "Creates a review for a specific assignment_id. Using the related subject_id is also a valid alternative to using assignment_id.
        Some criteria must be met in order for a review to be created: available_at must be not null and in the past.
        When a review is registered, the associated assignment and review_statistic are both updated. These are returned in the response body under resources_updated."
      tags: [Review]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '200':
          description: The registered review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReviewResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /reviews/{id}:
    get:
      operationId: getReview
      summary: Get a Specific Review
      description: Retrieves a specific review by its id.
      tags: [Review]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /review_statistics:
    get:
      operationId: getReviewStatistics
      summary: Get All Review Statistics
      description: Returns a collection of all review statistics, ordered by ascending created_at, 500 at a time.
      tags: [Review Statistics]
      parameters:
        - in: query
          name: ids
          description: Only reviews where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          description: Only reviews updated after this time are returned.
          name: updated_after
          schema:
            type: string
            format: date-time
        - in: query
          description: Return review statistics with a matching value in the hidden attribute
          name: hidden
          schema:
            type: boolean
        - in: query
          name: subject_ids
          description: Only reviews where data.subject_id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: subject_types
          description: 'Only review statistics where data.subject_type matches one of the array values are returned. Valid values are: radical, kanji, or vocabulary.'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SubjectType'
        - in: query
          name: percentages_greater_than
          description: Return review statistics where the percentage_correct is greater than the value.
          schema:
            type: integer
        - in: query
          name: percentages_less_than
          description: Return review statistics where the percentage_correct is less than the value.
          schema:
            type: integer
      responses:
        '200':
          description: All Review Statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewStatistics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /review_statistics/{id}:
    get:
      operationId: getReviewStatistic
      summary: Get a Specific Review Statistic
      description: Retrieves a specific review statistic by its id.
      tags: [Review Statistics]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Review Statistic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewStatistic'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /spaced_repetition_systems:
    get:
      operationId: getSpacedRepetitionSystems
      summary: Get All Spaced Repetition Systems
      description: Returns a collection of all spaced repetition systems, ordered by ascending created_at, 500 at a time.
      tags: [Spaced Repetition System]
      parameters:
        - in: query
          name: hidden
          description: Return study materials with a matching value in the hidden attribute
          schema:
            type: boolean
        - in: query
          name: ids
          description: Only study material records where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: updated_after
          description: Only study material records updated after this time are returned.
          schema:
            type: string
            format: date-time
        - in: query
          name: subject_ids
          description: Only study material records where data.subject_id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: subject_types
          description: 'Only study material records where data.subject_type matches one of the array values are returned. Valid values are: radical, kanji, or vocabulary.'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SubjectType'
      responses:
        '200':
          description: All Spaced Repetition Systems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacedRepetitionSystems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /spaced_repetition_systems/{id}:
    get:
      operationId: getSpacedRepetitionSystem
      summary: Get a Specific Spaced Repetition System
      description: Retrieves a specific spaced repetition system by its id.
      tags: [Spaced Repetition System]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Spaced Repetition System
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpacedRepetitionSystem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /study_materials:
    get:
      operationId: getStudyMaterials
      summary: Get All Study Materials
      description: Returns a collection of all study material, ordered by ascending created_at, 500 at a time.
      tags: [Study Material]
      parameters:
        - in: query
          name: ids
          description: Only spaced_repetition_systems where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: updated_after
          description: Only spaced_repetition_systems updated after this time are returned.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: All Study Materials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyMaterials'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /study_materials/{id}:
    get:
      operationId: getStudyMaterial
      summary: Get a Specific Study Material
      description: Retrieves a specific study material by its id.
      tags: [Study Material]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Study Material
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyMaterial'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /subjects:
    get:
      operationId: getSubjects
      summary: Get All Subjects
      description: Returns a collection of all subjects, ordered by ascending created_at, 500 at a time.
      tags: [Subject]
      parameters:
        - in: query
          name: ids
          description: Only subjects where data.id matches one of the array values are returned.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: types
          description: Return subjects of the specified types.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SubjectType'
        - in: query
          name: slugs
          description: Return subjects of the specified slug.
          schema:
            type: array
            items:
              type: string
        - in: query
          name: levels
          description: Return subjects at the specified levels.
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: hidden
          description: Return subjects which are or are not hidden from the user-facing application.
          schema:
            type: boolean
        - in: query
          name: updated_after
          description: Only subjects updated after this time are returned.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: All Subjects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subjects'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /subjects/{id}:
    get:
      operationId: getSubject
      summary: Get a Specific Subject
      description: Retrieves a specific subject by its id.
      tags: [Subject]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Subject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /summary:
    get:
      operationId: getSummary
      summary: Get a Summary
      description: Retrieves a summary report.
      tags: [Summary]
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Summary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /user:
    get:
      operationId: getUser
      summary: Get User Information
      description: Returns a summary of user information.
      tags: [User]
      responses:
        '200':
          description: Requested User Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /voice_actors:
    get:
      operationId: getVoiceActors
      summary: Get All Voice Actors
      description: Returns a collection of all voice actors.
      tags: [Voice Actor]
      responses:
        '200':
          description: All Voice Actors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceActors'
  /voice_actors/{id}:
    get:
      operationId: getVoiceActor
      summary: Get a Specific Voice Actor
      description: Retrieves a specific voice actor by its id.
      tags: [Voice Actor]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Voice Actor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceActor'

  # ==========================================
  # NEW: CUSTOM DECKS EXTENSION
  # ==========================================
  /custom_decks:
    get:
      operationId: getCustomDecks
      summary: Get All Custom Decks
      description: Returns a collection of all custom decks created by the user.
      tags: [Custom Deck]
      responses:
        '200':
          description: All Custom Decks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDecks'
    post:
      operationId: createCustomDeck
      summary: Create a Custom Deck
      description: Creates a new custom deck with its own level tracking.
      tags: [Custom Deck]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDeckRequest'
      responses:
        '200':
          description: The created Custom Deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeck'
  /custom_decks/{id}:
    get:
      operationId: getCustomDeck
      summary: Get a Specific Custom Deck
      description: Retrieves a specific custom deck by its id.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Requested Custom Deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeck'
    delete:
      operationId: deleteCustomDeck
      summary: Delete a Custom Deck
      description: Removes the custom deck and its associated custom progress tracking. Does NOT affect global subject progression.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '204':
          description: Custom Deck deleted successfully
  /custom_decks/{id}/items:
    get:
      operationId: getCustomDeckItems
      summary: Get Items in a Custom Deck
      description: Returns the subjects (items) added to this custom deck, mapped to their custom levels.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Collection of Custom Deck Items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeckItems'
    post:
      operationId: addCustomDeckItem
      summary: Add an Item to a Custom Deck
      description: Assigns a WaniKani Subject to a specific custom level inside this custom deck.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomDeckItemRequest'
      responses:
        '200':
          description: The created Custom Deck Item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeckItem'
  /custom_decks/{id}/reviews:
    get:
      operationId: getCustomDeckReviews
      summary: Get Review Queue for a Custom Deck
      description: >
        Returns assignments/subjects available for review SPECIFIC to this custom deck. 
        It evaluates the `Min(Global.next_review_at, Custom.custom_next_review_at)`. 
        If the Min value is <= current time, it is included in this review queue.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        '200':
          description: Custom Deck Reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeckProgresses'
    post:
      operationId: createCustomDeckReview
      summary: Submit a Review for a Custom Deck
      description: >
        Submits a review for an item specifically within this custom deck. 
        This will ONLY update the `custom_stage` and `custom_next_review_at` for this deck, leaving the Global WaniKani progress intact.
      tags: [Custom Deck]
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomReviewRequest'
      responses:
        '200':
          description: The updated Custom Progress resulting from the review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeckProgress'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BaseError'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BaseError'
  schemas:
    BaseError:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
        code:
          type: integer
    BaseResource:
      type: object
      required: [id, object, url, data_updated_at]
      properties:
        id:
          type: integer
        object:
          $ref: '#/components/schemas/ResourceObjectType'
        url:
          type: string
        data_updated_at:
          type: string
          format: date-time
    ResourceObjectType:
      type: string
      enum: [ assignment, kanji, level_progression, radical, reset, review_statistic, review, spaced_repetition_system, study_material, user, vocabulary, custom_deck, custom_deck_item, custom_deck_progress ]
    CollectionObjectType:
      type: string
      enum: [ collection, report ]
    BaseCollection:
      type: object
      required: [object, url, pages, total_count, data_updated_at]
      properties:
        object:
          $ref: '#/components/schemas/CollectionObjectType'
        url:
          type: string
        pages:
          type: object
          required: [next_url, previous_url, per_page]
          properties:
            next_url:
              type: string
              nullable: true
            previous_url:
              type: string
              nullable: true
            per_page:
              type: integer
        total_count:
          type: integer
        data_updated_at:
          type: string
          format: date-time

    # ==========================================
    # EXISTING WANIKANI SCHEMAS
    # ==========================================
    Assignment:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              required: [created_at, hidden, srs_stage, subject_id, subject_type, available_at, burned_at, passed_at, resurrected_at, started_at, unlocked_at]
              properties:
                available_at:
                  type: string
                  format: date-time
                  nullable: true
                burned_at:
                  type: string
                  format: date-time
                  nullable: true
                created_at:
                  type: string
                  format: date-time
                hidden:
                  type: boolean
                passed_at:
                  type: string
                  format: date-time
                  nullable: true
                resurrected_at:
                  type: string
                  format: date-time
                  nullable: true
                srs_stage:
                  type: integer
                started_at:
                  type: string
                  format: date-time
                  nullable: true
                subject_id:
                  type: integer
                subject_type:
                  $ref: '#/components/schemas/SubjectType'
                unlocked_at:
                  type: string
                  format: date-time
                  nullable: true
    Assignments:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          required: [ data ]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Assignment'
    LevelProgression:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              properties:
                abandoned_at:
                  type: string
                  format: date-time
                  nullable: true
                completed_at:
                  type: string
                  format: date-time
                  nullable: true
                created_at:
                  type: string
                  format: date-time
                level:
                  type: integer
                passed_at:
                  type: string
                  format: date-time
                  nullable: true
                started_at:
                  type: string
                  format: date-time
                  nullable: true
                unlocked_at:
                  type: string
                  format: date-time
                  nullable: true
    LevelProgressions:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          required: [ data ]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/LevelProgression'
    Reset:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              properties:
                confirmed_at:
                  type: string
                  format: date-time
                  nullable: true
                created_at:
                  type: string
                  format: date-time
                original_level:
                  type: integer
                target_level:
                  type: integer
    Resets:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Reset'
    Review:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                assignment_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                ending_srs_stage:
                  type: integer
                incorrect_meaning_answers:
                  type: integer
                incorrect_reading_answers:
                  type: integer
                spaced_repetition_system_id:
                  type: integer
                starting_srs_stage:
                  type: integer
                subject_id:
                  type: integer
    Reviews:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Review'
    StartAssignmentRequest:
      type: object
      properties:
        started_at:
          type: string
          format: date-time
    CreateReviewRequest:
      type: object
      properties:
        review:
          $ref: '#/components/schemas/CreateReview'
    CreateReviewResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/CreateReview'
            resources_updated:
              type: object
              properties:
                assignment:
                  $ref: '#/components/schemas/Assignment'
                review_statistic:
                  $ref: '#/components/schemas/ReviewStatistic'
    CreateReview:
      type: object
      properties:
        assignment_id:
          type: integer
        created_at:
          type: string
          format: date-time
        ending_srs_stage:
          type: integer
        incorrect_meaning_answers:
          type: integer
        incorrect_reading_answers:
          type: integer
        spaced_repetition_system_id:
          type: integer
        starting_srs_stage:
          type: integer
        subject_id:
          type: integer
    ReviewStatistic:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                created_at:
                  type: string
                  format: date-time
                hidden:
                  type: boolean
                meaning_correct:
                  type: integer
                meaning_current_streak:
                  type: integer
                meaning_incorrect:
                  type: integer
                meaning_max_streak:
                  type: integer
                percentage_correct:
                  type: integer
                reading_correct:
                  type: integer
                reading_current_streak:
                  type: integer
                reading_incorrect:
                  type: integer
                reading_max_streak:
                  type: integer
                subject_id:
                  type: integer
                subject_type:
                  $ref: '#/components/schemas/SubjectType'
    ReviewStatistics:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ReviewStatistic'
    StageAttributes:
      type: object
      properties:
        interval:
          type: integer
          nullable: true
        interval_unit:
          type: string
          enum: [milliseconds, seconds, minutes, hours, days, weeks]
          nullable: true
        position:
          type: integer
    SpacedRepetitionSystem:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                burning_stage_position:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                description:
                  type: string
                name:
                  type: string
                passing_stage_position:
                  type: integer
                stages:
                  type: array
                  items:
                    $ref: '#/components/schemas/StageAttributes'
                starting_stage_position:
                  type: integer
                unlocking_stage_position:
                  type: integer
    SpacedRepetitionSystems:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SpacedRepetitionSystem'
    StudyMaterial:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                created_at:
                  type: string
                  format: date-time
                hidden:
                  type: boolean
                meaning_note:
                  type: string
                  nullable: true
                meaning_synonyms:
                  type: array
                  items:
                    type: string
                reading_note:
                  type: string
                  nullable: true
                subject_id:
                  type: integer
                subject_type:
                  $ref: '#/components/schemas/SubjectType'
    StudyMaterials:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/StudyMaterial'
    AuxiliaryMeaning:
      type: object
      properties:
        meaning:
          type: string
        type:
          type: string
    Meaning:
      type: object
      properties:
        meaning:
          type: string
        primary:
          type: boolean
        accepted_answer:
          type: boolean
    SubjectType:
      type: string
      enum: [kanji, radical, vocabulary]
    CommonSubject:
      type: object
      properties:
        auxiliary_meanings:
          type: array
          items:
            $ref: '#/components/schemas/AuxiliaryMeaning'
        characters:
          type: string
        created_at:
          type: string
          format: date-time
        document_url:
          type: string
        hidden_at:
          type: string
          format: date-time
          nullable: true
        lesson_position:
          type: integer
        level:
          type: integer
        meaning_mnemonic:
          type: string
        meanings:
          type: array
          items:
            $ref: '#/components/schemas/Meaning'
        slug:
          type: string
        spaced_repetition_system_id:
          type: integer
    RadicalSubject:
      allOf:
        - $ref: '#/components/schemas/CommonSubject'
        - type: object
          properties:
            amalgamation_subject_ids:
              type: array
              items:
                type: integer
            characters:
              type: string
              nullable: true
            character_images:
              type: array
              items:
                $ref: '#/components/schemas/RadicalCharacterImage'
    KanjiSubject:
      allOf:
        - $ref: '#/components/schemas/CommonSubject'
        - type: object
          properties:
            amalgamation_subject_ids:
              type: array
              items:
                type: integer
            component_subject_ids:
              type: array
              items:
                type: integer
            meaning_hint:
              type: string
              nullable: true
            reading_hint:
              type: string
              nullable: true
            reading_mnemonic:
              type: string
            readings:
              type: array
              items:
                $ref: '#/components/schemas/KanjiReading'
            visually_similar_subject_ids:
              type: array
              items:
                type: integer
    VocabSubject:
      allOf:
        - $ref: '#/components/schemas/CommonSubject'
        - type: object
          properties:
            component_subject_ids:
              type: array
              items:
                type: integer
            context_sentences:
              type: array
              items:
                $ref: '#/components/schemas/ContextSentence'
            meaning_mnemonic:
              type: string
            parts_of_speech:
              type: array
              items:
                type: string
            pronunciation_audios:
              type: array
              items:
                $ref: '#/components/schemas/PronunciationAudio'
            readings:
              type: array
              items:
                $ref: '#/components/schemas/VocabReading'
            reading_mnemonic:
              type: string
    ContextSentence:
      type: object
      properties:
        en:
          type: string
        ja:
          type: string
    PronunciationAudio:
      type: object
      properties:
        url:
          type: string
        content_type:
          type: string
        metadata:
          type: object
          properties:
            gender:
              type: string
            source_id:
              type: integer
            pronunciation:
              type: string
            voice_actor_id:
              type: integer
            voice_actor_name:
              type: string
            voice_description:
              type: string
    BaseReading:
      type: object
      properties:
        reading:
          type: string
        primary:
          type: boolean
        accepted_answer:
          type: boolean
    KanjiReading:
      allOf:
        - $ref: '#/components/schemas/BaseReading'
        - type: object
          properties:
            type:
              type: string
              enum: [kunyomi, nanori, onyomi]
    VocabReading:
      $ref: '#/components/schemas/BaseReading'
    RadicalCharacterImage:
      type: object
      properties:
        url:
          type: string
        content_type:
          type: string
        metadata:
          oneOf:
            - $ref: '#/components/schemas/ImagePngMetadata'
            - $ref: '#/components/schemas/ImageSvgMetadata'
    ImageSvgMetadata:
      type: object
      properties:
        inline_styles:
          type: boolean
    ImagePngMetadata:
      type: object
      properties:
        color:
          type: string
        dimensions:
          type: string
        style_name:
          type: string
    Subject:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/RadicalSubject'
                - $ref: '#/components/schemas/KanjiSubject'
                - $ref: '#/components/schemas/VocabSubject'
    Subjects:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Subject'
    VoiceActor:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                description:
                  type: string
                gender:
                  type: string
                name:
                  type: string
    VoiceActors:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/VoiceActor'
    UserPreferences:
      type: object
      properties:
        default_voice_actor_id:
          type: integer
        lessons_autoplay_audio:
          type: boolean
        lessons_batch_size:
          type: integer
        lessons_presentation_order:
          type: string
        reviews_autoplay_audio:
          type: boolean
        reviews_display_srs_indicator:
          type: boolean
    UserSubscription:
      type: object
      properties:
        active:
          type: boolean
        max_level_granted:
          type: integer
        period_ends_at:
          type: string
          format: date-time
          nullable: true
        type:
          type: string
    User:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                current_vacation_started_at:
                  type: string
                  format: date-time
                  nullable: true
                level:
                  type: integer
                preferences:
                  $ref: '#/components/schemas/UserPreferences'
                profile_url:
                  type: string
                started_at:
                  type: string
                  format: date-time
                subscription:
                  $ref: '#/components/schemas/UserSubscription'
                username:
                  type: string
    SummaryLessons:
      properties:
        available_at:
          type: string
          format: date-time
        subject_ids:
          type: array
          items:
            type: integer
    SummaryReviews:
      properties:
        available_at:
          type: string
          format: date-time
        subject_ids:
          type: array
          items:
            type: integer
    Summary:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          properties:
            data:
              type: object
              properties:
                lessons:
                  type: array
                  items:
                    $ref: '#/components/schemas/SummaryLessons'
                next_reviews_at:
                  type: string
                  format: date-time
                  nullable: true
                reviews:
                  type: array
                  items:
                    $ref: '#/components/schemas/SummaryReviews'

    # ==========================================
    # NEW: CUSTOM DECK EXTENSION SCHEMAS
    # ==========================================
    CustomDeck:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              required: [name, current_level, created_at]
              properties:
                name:
                  type: string
                  description: Name of the custom deck.
                description:
                  type: string
                  nullable: true
                current_level:
                  type: integer
                  description: The current active level of this custom deck. Triggers unlock of items at this custom_level.
                created_at:
                  type: string
                  format: date-time
    CustomDecks:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/CustomDeck'
    CustomDeckItem:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              required: [deck_id, subject_id, custom_level]
              properties:
                deck_id:
                  type: integer
                subject_id:
                  type: integer
                custom_level:
                  type: integer
                  description: The level within the custom deck where this item is assigned.
    CustomDeckItems:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/CustomDeckItem'
    CustomDeckProgress:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [ data ]
          properties:
            data:
              type: object
              required: [deck_id, subject_id, custom_stage, custom_next_review_at]
              properties:
                deck_id:
                  type: integer
                subject_id:
                  type: integer
                custom_stage:
                  type: integer
                  description: The SRS stage specifically for this item within the custom deck.
                custom_next_review_at:
                  type: string
                  format: date-time
                  description: Next review time specific to this deck. Min(global, custom) logic is applied when fetching queues.
    CustomDeckProgresses:
      allOf:
        - $ref: '#/components/schemas/BaseCollection'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/CustomDeckProgress'
    CreateCustomDeckRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
    AddCustomDeckItemRequest:
      type: object
      required: [subject_id, custom_level]
      properties:
        subject_id:
          type: integer
        custom_level:
          type: integer
    CreateCustomReviewRequest:
      type: object
      required: [subject_id, incorrect_meaning_answers, incorrect_reading_answers]
      properties:
        subject_id:
          type: integer
        incorrect_meaning_answers:
          type: integer
        incorrect_reading_answers:
          type: integer

  parameters:
    resourceId:
      name: id
      in: path
      description: ID of the resource
      required: true
      schema:
        type: integer